.button {
  background-color: transparent;
  border: none;
  outline: none;
}

.thumbnail-img {
  border-radius: 3px;
  height: 90px;
  width: 130px;
}

@media (min-width: 768px) {
  .thumbnail-img {
    height: 130px;
    width: 200px;
  }
}
